<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo-132/blob/main/Proyecto_Avance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#INSTITUTO TECNOLOGICO Y DE ESTUDIOS SUPERIORES DE MONTERREY

##Proyecto Final

###**Equipo 132**

###    Integrantes:
    
###    **Luis Fernando Rios Piedra - A00453954**
###    **David Eduardo Garcia Reyes - A01086411**

# **Avance 1:**

###El nombre que caracteriza el conjunto de datos.
**Car Evaluation Data Set**
    
###La organización que lo generó.
**Marco Bonahec**

#Incluya un enlace de Internet donde se puedan descargar el base de datos en línea
https://archive.ics.uci.edu/ml/datasets/Car+Evaluation

###Describe el conjunto de datos. ¿Qué datos contiene?
###**Caracteristica del conjunto de datos: Multivariable**
###**Numero de instancias: 1728**
###**Numero de atributos: 6**
    
* Car acceptability

> * Overall Price

>> * Buying Price

>> * Cost of Maintenance
> * Technical Characteristics
>>> * Comfort
>>>> * Number of doors
>>>> * Person capacity
>>>> * Size of luggage boot
>>>> * Safety of the car
                
###La informacion se simplifico de manera de solo tener los 6 atributos principales
###            * Buying Price
###            * Cost of Maintenance
###            * Number of doors
###            * Person capacity
###            * Size of luggage boot
###            * Safety of the car

###¿Cuáles son algunas de las preguntas de investigación que podría responder con estos datos? Enumere al menos OCHO (no responda las preguntas).

1. ¿Cuál es el automovil mas vendido en base a sus caracteristicas?
2. ¿Alguna de las caracteristicas del automovil predomina sobre otras al momento de la compra?
3. ¿Es realmente el costo el atributo mas importante a la hora de comprar un automovil?
4. ¿Alguna de las caracteristicas del automovil pudiera no ser relevante en la compra de un automovil?
5. ¿Algunas de las caracteristicas tienen relación entre si, dependen una de otra? ¿y en caso de ser asi, que caracteristicas son?
6. ¿La cantidad de datos en el conjunto es suficiente para llegar a una conclusion o se requiere de una muestra mas amplia de datos?
7. ¿Que otras caracteristicas del automovil seria importante considerar agregar al conjunto de datos?
8. ¿Donde se concentra mas la compra de automoviles?

###¿Qué actor (empresa, sector de la sociedad, organismo descentralizado, gobierno, etc.) estaría interesado en las preguntas mencionadas que identificó?
* El sector de la población en busca de comprar un automovil para uso personal
* Empresas privadas que se dedican a la renta de automoviles
* Empresas privadas que adquieren automoviles para el uso dentro de la empresa, viajes de trabajo, asignacion a una persona, etc.
* Personas que se dedican a la compra y re venta de automoviles
* Fabricantes de automóviles.

In [ ]:
import pandas as pd
import os

# DIR = "/content/drive/MyDrive/Cydd"
# os.chdir(DIR)

In [ ]:
cvs_path="CAR_DATA_EQ132_CSV.csv"

In [ ]:
## Abriendo base de datos "LOCAL"
df=pd.read_csv(cvs_path,sep=",")
df.info()
df.describe().transpose()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Buying     1728 non-null   object
 1    Maint     1728 non-null   object
 2    Doors     1728 non-null   object
 3    Persons   1728 non-null   object
 4    Lug_boot  1728 non-null   object
 5    Safety    1728 non-null   object
 6   Class      1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

          count unique    top  freq
Buying     1728      4   high   432
 Maint     1728      4   high   432
 Doors     1728      4      2   432
 Persons   1728      3      2   576
 Lug_boot  1728      3    big   576
 Safety    1728      3   high   576
Class      1728      4  unacc  1210

#**Avance 2:**

##Se utilizara la metodologia CRISP-DM

##1. Business Understanding - Entendiendo el negocio
  * Se enfoca en entender los objetivos del proyecto y los requerimientos desde un punto de vista de negocios.
  * Determinar los objetivos del negocio Determine business objectives
  * Evaluar la situacion
  * Determinar los objetivos para mineria de datos
  * Realizar plan de proyecto
    
##2. Data Understanding - Entendiendo la informacion
###Empezar con la recoleccion de informacion inicial, el analista procede con las actividades para familizarse con los datos, identificar problemas de calidad de datos y descubrir los primeros analisis de la informacion.
    
##3. Data Preparation - Preparacion de la informacion
###Esta fase cubre todas las actividades para construir el conjunto de datos final desde la informacion inicial (cruda)
    
##4. Modeling - Modelado
##El analista evalua, selecciona y aplica las tecnicas apropiadas de modelado.
   * Generar un diseño de prueba
   * Construir el modelo
   * Evaluar el modelo
    
##5. Evaluation - Evaluacion
##El analista construye y escoge los modelos que aparentan tener la mejor calidad basada en la perdida de funciones que fueron seleccionadas.
  * Evaluar resultados
  * Revisar el proceso
  * Determinar los proximos pasos
    
##6. Deployment - Despliegue
##Generalmente esto significa desplegar la representacion de un codigo del modelo en un sistema operativo.
  * Generar un reporte final
  * Revisar el proyecto